<!DOCTYPE html>
<html>
<head>
  <title> NASA </title>
  <link href='{{ url_for('static',filename='css/bootstrap.css')}}' rel='stylesheet'>
   
  <link rel="stylesheet" href="{{ url_for('static',filename='fonts/font-awesome/css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='{{ url_for('static',filename='css/main.css')}}' rel='stylesheet'>
</head>
<<body>

<div class="container">
       <header class="site-header">
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-inline pull-right">
                            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="http://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="mailto:imohirsh@icloud.com"><i class="fa fa-envelope-o"></i></a></li>
                            <li><a href="https://github.com/"><i class="fa fa-github"></i></a></li>
                            <li><a href="tel:+902222222222"><i class="fa fa-phone"></i>  011111 469869</a></li>
                        </ul>                        
                    </div>
                </div>
            </div>
        </div>
  </div>


                
                <!-- END MAIN NAVIGATION -->
    </nav>
  </header>

<div class="container">
  <h1> What's on Mars today? </h1>
</div>
</div>

{% if img_src %}
<div class="container">
  <img src="{{img_src}}">
</div>
{% endif %}
{% if not img_src %}
<div class="container">
  <p>No image found for that date</p>
  <form method="POST">
    <input name="date" placeholder="YYYY-MM-DD">
    <input type="submit">
  </form>
</div>
{% endif %}


<div class="container">
    <div class="row">
        <div class="col-sm-6">
          <p> insert some stuff </p>
          </div>

          <div class="col-sm-6">
            <p> insert some stuff </p>
          </div>
        </div>

        </div>
      </div>
    </div>
</div>

    

</body>

</html>
